
.nav{
    
    .li-reg{
    
        .register{
            color: white;
            background-color: transparent;
        }
    }

    .li-log{
        .login{
            color: white;
            background-color: transparent;
        }
    }

    .li-dash{
        .dash{
            color: white;
            background-color: transparent;
        }
    }

    .li-prof{
        .profile{
            color: white;
            background-color: transparent;
        }
    }

    .li-logout{
        .logout{
            color: white;
            background-color: transparent;
        }
    }
}